<h1>Pictures (<%= @pictures.length %>)</h1>
<button><%= link_to "New Picture", "/pictures/new" %></button>

<div class="assets">
    <% @pictures.each do |picture| %>
    <div class="frame">
    <img class="display" src="<%=picture.url %>">
    <p><%= picture.title %>, <%=picture.artist %></p>
  </div>
<%end%>
<h1>Most recent pictures</h1>
<ul>
  <% @most_recent_pictures.each do |picture| %>
    <%= picture.title %><br>
    <img class="display" src="<%=picture.url %>"><br>
  <% end %>
</ul>
</div>
